@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #463c4e 0%, #4e4a53 100%);
    overflow-x: hidden;

    font-family: "Raleway", sans-serif;
    color: white;
    letter-spacing: 1px;
    gap: 20px;
}


.main {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px dashed white;
    padding: 50px 0;
    border-radius: 15px;
}

.navigation-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    background: rgba(78, 74, 83, 0.43);
    border: 2px solid white;
    padding: 50px 0;
    border-radius: 15px;
    gap: 10px;
}

a {
    color: white;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    padding: 15px;
    border-radius: 5px;
    background-color: rgba(70, 60, 78, 0);
    transition: background-color 0.2s;
}

a:hover {
    background-color: rgba(70, 60, 78, 100);
    animation: backgroundAnimation 3s 0.2s infinite;
}

@keyframes backgroundAnimation {
    0% {
        background-color: #463c4e;
    }
    50% {
        background-color: #3d3344;
    }
    100% {
        background-color: #463c4e;
    }
}